
h1{
    text-align: center;
    color: var(--fontcolor);
}
.container-main{

    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    padding: 4px;
    gap: 4px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #aee3e6, #0f2b2e);
}
.pages{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: inherit;
    margin: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-image: inherit;

}
header nav {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: inherit;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}
@media (max-width: 800px){
    .container-main{
        flex-direction: column;
        
    }
    body, nav, header nav .tabs{
        display: flex;
        color: #000000;
        justify-content: center;
    }
    
}
header nav .tabs {
    list-style-type: none;
    display: block;
    width: 200px;
    padding: 2px;
}

header nav .tabs .tab {
    display: block;
    list-style-type: none;
}

header nav .tabs .tab a[data-switcher] {
    display: block;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: inherit;
    background-color: #4d7a7e;
    cursor: pointer;
    border-top-right-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);

}

header nav .tabs .tab:hover a[data-switcher] {
    background-color: #79B4B7;
}

header nav .tabs .tab.is-active a[data-switcher] {
    background-color: #79B4B7;
    font-weight: 700;
}

main {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.pages {
    margin-top: 4px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}
fieldset, hr{
    border:2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom left, #79B4B7, #4d7a7e);

}
input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  select{
    text-align: center;
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  input[type=date]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    font-family: inherit;
    color: inherit;
    border: 1px solid #4d7a7e ;
    padding: 12px;
    margin: 12px;
    background-image: linear-gradient(to bottom right, #79B4B7, #4d7a7e);
    cursor: pointer;
  }
  button:hover{
    background: #79B4B7;
  }
  button:active{
    background: #4d7a7e;
  }
  input[type="submit"],input[type="reset"]{
    border-radius: 4px;
    font-family: inherit;
    color: inherit;
    border: 1px solid white;
    padding: 12px;
    margin: 12px;
    background-image: linear-gradient(to bottom right,#79B4B7, #4d7a7e);
}
    input[type="submit"]:hover{
        background: #79B4B7;
}

    input[type="reset"]:hover{
        background: #79B4B7;
}

input[type="submit"]:active{
    background: #4d7a7e;
}

input[type="reset"]:active{
    background: #4d7a7e;
}
.main-table{
    margin: 25px auto;
    border:#4d7a7e;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.main-table thead tr{
    background-color:#4d7a7e;
    
    
}
.main-table th, .main-table td{
    padding: 12px 15px;
}
.main-table tbody tr:nth-of-type(even){
    background-color: #79B4B7;
}
.main-table tbody tr:last-of-type{
    border-bottom: 4px solid black;
}
hr{
    width: 50%;
}