.snow-curve{
    
    position: absolute;
    overflow: hidden;
    height: 180px;
    width: 100%;
    top: -20px;
    
    z-index: -1;
   
    
}
.snow-curve::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 800%;
    top: -40%;
    z-index: 0;

	
	
	background: radial-gradient(ellipse at center, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 60%,rgba(255, 255, 255, 0.2) 70%,rgba(255, 255, 255, 0.2) 200%);
}
.snow-flake{
    animation: fall 2s linear forwards;
    position: absolute;
    color: rgb(255, 255, 255);
    top: -20px;
    z-index: 0;
    
}
@keyframes fall {
    to {
    transform: translateY(1000%);
    }
}
.glow {
    position: absolute;
    font-size: 18px;
    color: rgb(230, 209, 92);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

h1{
    text-align: center;
}
.container-main{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    padding: 12px;
    gap: 15px;
    
    
}
.container-inventar .inventar-form,
.container-person .person-form,
.container-ort .ort-form {
    
    width: 100%;
    margin: 2px;
    padding: 2px;
    border: thin solid white;
    border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 10px;
    resize: vertical;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
    
    }
h3{
        text-align: start;
        padding: 0 0 0 12px;
    }

label{
    float: left;
    width: 25%;
    margin-top: 6px;
    padding: 12px 12px 12px 12px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-image: linear-gradient(to bottom right, rgb(30, 18, 145), rgb(109, 89, 223));
}
@media (max-width: 800px){
    .container-main{
        flex-direction: column;
        
    }
    body{
        color: #b791ff;
    }
    
}
input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  rgb(216, 209, 250) ;
    color: white;
  }
  select{
    text-align: center;
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    border-radius: 4px;
    font-family: inherit;
    color: inherit;
    border: 1px solid white;
    padding: 12px;
    margin: 12px;
    background-image: linear-gradient(to bottom right, rgb(141, 126, 226), rgb(73, 59, 192));
     
  }
  button:hover{
    background: rgb(141, 126, 226);
  }
  button:active{
    background: rgb(75, 61, 202);
  }
  
  .main-table{
    margin: 25px auto;
    border:rgb(30, 18, 145);
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.644);
}
.main-table thead tr{
    background-color:rgb(58, 48, 148);
    
    
}
.main-table th, .main-table td{
    padding: 12px 15px;
}
.main-table tbody tr:nth-of-type(even){
    background-color: rgb(100, 87, 216);
}
.main-table tbody tr:last-of-type{
    border-bottom: rgb(58, 48, 148);
}
hr{
    width: 50%;
}