.container-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    
}
.container-inventar .inventar-form,
.container-person .person-form,
.container-ort .ort-form {
    
    width: 100%;
    margin: 2px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 10px;
    resize: vertical;
    
    }
h3{
        text-align: start;
    }

label{
    float: left;
    width: 25%;
    margin-top: 6px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-image: linear-gradient(to bottom right, rgb(30, 18, 145), rgb(109, 89, 223));
}
@media (max-width: 800px){
    .container-main{
        flex-direction: column;
        
    }
    body{
        color: rgb(157, 137, 211);
    }
    
}
input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  rgb(163, 149, 241) ;
    color: white;
  }
  select{
    text-align: center;
    font-family: inherit;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }