<<<<<<< HEAD
html, body {
    height: 100%;
  }
body {
    height: 50%;
    background: conic-gradient(at 0% 10%, #1b315e 15%,#1b315e 30%, #1098ad 40%, #07b39b 50%);
    border: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	background-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 24s ease-in-out infinite;
	-moz-animation: animated_text 24s ease-in-out infinite;
	-webkit-animation: animated_text 24s ease-in-out infinite;
  }
  
  h1, .form-control, label, .btn, .btn:hover, .btn:active, .btn:visited {
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
=======
>>>>>>> e65a8b19f477810ad978335621fd3317d00bab2f
