h1{
    text-align: center;
}
.container-main{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    padding: 12px;
    gap: 15px;
    
    
}
.container-inventar .inventar-form,
.container-person .person-form,
.container-ort .ort-form {
    
    width: 100%;
    margin: 2px;
    padding: 2px;
    border: thin solid white;
    border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 10px;
    resize: vertical;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
    
    }
h3{
        text-align: start;
        padding: 0 0 0 12px;
    }

label{
    float: left;
    width: 25%;
    margin-top: 6px;
    padding: 12px 12px 12px 12px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-image: linear-gradient(to bottom right, rgb(30, 18, 145), rgb(109, 89, 223));
}
@media (max-width: 800px){
    .container-main{
        flex-direction: column;
        
    }
    body{
        color: #ff99ff;
    }
    
}
input[type=text]{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  rgb(216, 209, 250) ;
    color: white;
  }
  select{
    text-align: center;
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email]{
    font-family: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    border-radius: 4px;
    font-family: inherit;
    color: inherit;
    border: 1px solid white;
    padding: 12px;
    margin: 12px;
    background-image: linear-gradient(to bottom right, rgb(141, 126, 226), rgb(73, 59, 192));
     
  }
  button:hover{
    background: rgb(141, 126, 226);
  }
  button:active{
    background: rgb(75, 61, 202);
  }
  
  .main-table{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.644);
}
.main-table thead tr{
    background:rgb(58, 48, 148);
    
}
.main-table th, .main-table td{
    padding: 12px 15px;
}
.main-table tbody tr:nth-of-type(even){
    background-color: rgb(100, 87, 216);
}
.main-table tbody tr:last-of-type{
    border-bottom: rgb(58, 48, 148);
}